.App {
  text-align: center;
}
body {
  background-color: rgb(192, 224, 252);
}

img {
  width: 100px;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bolder;
}

.pokemonItems {
  padding: 10px;
  border: solid 1px black;
  margin: 5px;
  max-width: 150px;
}